@charset "utf-8";
/* CSS Document */

body{
	font-family:koho !important;
	}
	
/* -- Navbar -- */
	
#content #navbar .navbar{
	background:#dfab42 !important;
	text-transform:uppercase;
	padding-top:0;
	padding-bottom:0;
	}
#content #navbar .navbar .navbar-menu{
	color:#fff;
	margin:0 10px 0 0;
	}
#content #navbar .navbar .navbar-brand{
	color:#fff !important;
	font-size:24px;
	}
#content #navbar .navbar-dark .navbar-toggler-icon{
	display:none;
	}
#content #navbar .navbar .navbar-brand .navbar-brand-m{
	color:#dfab42;
	background:#fff;
	border-radius:50%;
	padding:0 5px;
	}
#content #navbar .navbar .navbar-nav .nav-link{
	color:#fff;
	}
	
/* -- Banner -- */
#content #banner .banner{
	margin:20px 0;
	}
#content #banner .banner img{
	border-radius:10px;
	}
	
/* -- Text -- */
#content #text .text-1 a{
	color:#a8d2ad;
	text-decoration:none;
	font-size:22px;
	}
	
/* -- Image -- */
#content #image .image img{
	border-radius:10px;
	}
	
/* -- Responsive code -- */
@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 830px) {
	
}

@media screen and (max-width: 767px) {
	#content #navbar .navbar .navbar-toggler{
		border:none;
		padding:0;
		font-size:16px;
		color:#fff;
		}
	#content #navbar .navbar .navbar-brand {
		font-size: 20px;
	}
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 575px) {
	#content #image .image{
		margin:10px 0;
	}
}

@media screen and (max-width: 544px) {
	
}

@media screen and (max-width: 543px) {
	
}

@media screen and (max-width: 320px) {
	
}
